In [1]:
# Print even numbers

[i for i in range(1,20) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
# Print odd numbers

[i for i in range(1,20) if i%2==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
# Traverse the string

s = 'Tejal'
[i for i in s]

['T', 'e', 'j', 'a', 'l']

### To reverse a string

In [5]:
str1 = 'Hi i am Tejal'
' '.join([i for i in str1[::-1]])  # Reversing by character

'l a j e T   m a   i   i H'

In [8]:
str1 = 'Hi i am Tejal'
[i for i in str1.split()[::-1]]  # Reversing by words

['Tejal', 'am', 'i', 'Hi']

### Identify numbers in a string using the isdigit() method

In [10]:
# user data entered as name and phone number
user_data = "Elvis Presley 987-654-3210"

phone_no = ''.join([x for x in user_data if x.isdigit()])
phone_no

'9876543210'

### Adding arguments to list comprehension

In [11]:
# list comprehension with functions
# create a function that returns a number doubled
def double(x):
    return x*2

nums = [double(x) for x in range(1,10)]
print(nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Nested for loop in List Comprehension

In [13]:
[x+y for x in [1,2,3] for y in [10,20,30]]

[11, 21, 31, 12, 22, 32, 13, 23, 33]

### If-else in List Comprehension

In [14]:
cars = ["tesla","tata","maruti","land rovar", "jaguar"]
nwList = [x if x!='tesla' else 'Audi' for x in cars]
nwList

['Audi', 'tata', 'maruti', 'land rovar', 'jaguar']

In [15]:
[i if i%3==0 else i+10 for i in range(11)]

[0, 11, 12, 3, 14, 15, 6, 17, 18, 9, 20]

### Print True for even numbers and false for odd numbers

In [16]:
[True if i%2==0 else False for i in range(0,11)]

[True, False, True, False, True, False, True, False, True, False, True]

In [17]:
[i%2==0 for i in range(0,11)]

[True, False, True, False, True, False, True, False, True, False, True]

### Nested loop - print all the possible combination of 2 lists

In [18]:
team1 = ["A", "B" ,"C"]
team2 = ["a", "b", "c"]

newList =[(i,j) for i in team1 for j in team2]
print(newList)
print("-"*125)
newList =[[(i,j) for i in team1] for j in team2]
print(newList)
print("-"*125)
newList =[[(j,i) for i in team1] for j in team2]
print(newList)

[('A', 'a'), ('A', 'b'), ('A', 'c'), ('B', 'a'), ('B', 'b'), ('B', 'c'), ('C', 'a'), ('C', 'b'), ('C', 'c')]
-----------------------------------------------------------------------------------------------------------------------------
[[('A', 'a'), ('B', 'a'), ('C', 'a')], [('A', 'b'), ('B', 'b'), ('C', 'b')], [('A', 'c'), ('B', 'c'), ('C', 'c')]]
-----------------------------------------------------------------------------------------------------------------------------
[[('a', 'A'), ('a', 'B'), ('a', 'C')], [('b', 'A'), ('b', 'B'), ('b', 'C')], [('c', 'A'), ('c', 'B'), ('c', 'C')]]

### List comprehension with Dictionary

In [19]:
numbers= [2,4,5,6]
{i:i**2 for i in numbers}

{2: 4, 4: 16, 5: 25, 6: 36}

In [20]:
old_price = {"milk":40,"coffee":20,"tea":10}
new_price = {k:y*1.5 for k,y in old_price.items()}
new_price

{'milk': 60.0, 'coffee': 30.0, 'tea': 15.0}

### List comprehension with Sets

In [21]:
name = "Data Science"
newList = {x for x in name}
print(type(newList))
print(newList) # gives random name because set in unordered list and doesnt consider repeatation

<class 'set'>
{'D', 'S', 'c', 'a', 'e', 't', 'i', ' ', 'n'}

### Flatten the Nested List with List Comprehension

In [25]:
num = [[1,2,3],[4,5,6],[7,8,9]]
[j for i in num for j in i ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]